<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <h1>....Products In Cart...</h1>

    <ul>
        <%  cartProducts.forEach(item=>{ %>
        <li> <%= item.product.title %> ( <%= item.qty %>)
            <form action='/cart-delete-item' method="POST">
                <button type="submit" class="btn">Delete</button>
                <input type="hidden" value="<%=item.product.id%>" name="productId">
            </form>
        </li>
        <% }); %>
    </ul>

    <h2>Total Price Is: $ <%= totalPrice.toFixed(2) %></h2>

    <%  console.log("**********************"); console.log(cartProducts); %>

    <%- include('../includes/end.ejs') %>